[submodule "AD/bloodhound.py"]
	path = AD/bloodhound.py
	url = https://github.com/dirkjanm/bloodhound.py
[submodule "WEb/httpx"]
	path = WEb/httpx
	url = https://github.com/projectdiscovery/httpx
[submodule "Enum/PEASS-ng"]
	path = Enum/PEASS-ng
	url = https://github.com/carlospolop/PEASS-ng
[submodule "AD/ShareHound"]
	path = AD/ShareHound
	url = https://github.com/tfmarques23/ShareHound
[submodule "AD/GPOHound"]
	path = AD/GPOHound
	url = https://github.com/tfmarques23/GPOHound
[submodule "AD/NauthNRPC"]
	path = AD/NauthNRPC
	url = https://github.com/tfmarques23/NauthNRPC
[submodule "AD/AD-Pentesting-Notes"]
	path = AD/AD-Pentesting-Notes
	url = https://github.com/tfmarques23/AD-Pentesting-Notes
[submodule "AD/AD-Attack-Defense"]
	path = AD/AD-Attack-Defense
	url = https://github.com/tfmarques23/AD-Attack-Defense
[submodule "AD/ntlmrelayx2proxychains"]
	path = AD/ntlmrelayx2proxychains
	url = https://github.com/tfmarques23/ntlmrelayx2proxychains
[submodule "WEb/netscaler_scales_check"]
	path = WEb/netscaler_scales_check
	url = https://github.com/tfmarques23/netscaler_scales_check
[submodule "WEb/Anubis"]
	path = WEb/Anubis
	url = https://github.com/tfmarques23/Anubis
[submodule "WEb/Web-Attack-Cheat-Sheet"]
	path = WEb/Web-Attack-Cheat-Sheet
	url = https://github.com/tfmarques23/Web-Attack-Cheat-Sheet
[submodule "WEb/trufflehogmmm"]
	path = WEb/trufflehogmmm
	url = https://github.com/tfmarques23/trufflehog
[submodule "Enum/Raccoon"]
	path = Enum/Raccoon
	url = https://github.com/tfmarques23/Raccoon
[submodule "Enum/pscan"]
	path = Enum/pscan
	url = https://github.com/tfmarques23/pscan
[submodule "Enum/Wordlists_subenum"]
	path = Enum/Wordlists_subenum
	url = https://github.com/tfmarques23/Wordlists_subenum
[submodule "Enum/wordlistsmmm"]
	path = Enum/wordlistsmmm
	url = https://github.com/tfmarques23/wordlists
[submodule "OSCP/OSCP_notes"]
	path = OSCP/OSCP_notes
	url = https://github.com/tfmarques23/OSCP_notes
[submodule "INFOs/Blue-Team-Notes"]
	path = INFOs/Blue-Team-Notes
	url = https://github.com/tfmarques23/Blue-Team-Notes
[submodule "INFOs/Ransomware-Database"]
	path = INFOs/Ransomware-Database
	url = https://github.com/tfmarques23/Ransomware-Database
[submodule "INFOs/deepdarkCTI"]
	path = INFOs/deepdarkCTI
	url = https://github.com/tfmarques23/deepdarkCTI
[submodule "INFOs/ShomeCheatsheet"]
	path = INFOs/ShomeCheatsheet
	url = https://github.com/tfmarques23/ShomeCheatsheet
[submodule "INFOs/CRTOm"]
	path = INFOs/CRTOm
	url = https://github.com/tfmarques23/CRTO
[submodule "AD/ActiveDirectory"]
	path = AD/ActiveDirectory
	url = https://github.com/tfmarques23/ActiveDirectory
[submodule "AD/Active-Directory-Exploitation-Cheat-Sheet"]
	path = AD/Active-Directory-Exploitation-Cheat-Sheet
	url = https://github.com/S1ckB0y1337/Active-Directory-Exploitation-Cheat-Sheet
[submodule "AD/active-directory-pentest"]
	path = AD/active-directory-pentest
	url = https://github.com/geeksniper/active-directory-pentest
[submodule "AD/impacket"]
	path = AD/impacket
	url = https://github.com/fortra/impacket
[submodule "AD/Responder"]
	path = AD/Responder
	url = https://github.com/lgandx/Responder
[submodule "AD/PetitPotam"]
	path = AD/PetitPotam
	url = https://github.com/topotam/PetitPotam
[submodule "AD/noPac"]
	path = AD/noPac
	url = https://github.com/Ridter/noPac
[submodule "AD/ADCollector"]
	path = AD/ADCollector
	url = https://github.com/dev-2null/ADCollector
[submodule "AD/SharpSQLPwn"]
	path = AD/SharpSQLPwn
	url = https://github.com/lefayjey/SharpSQLPwn
[submodule "AD/impacket-shell-integrationmmmmmmmm"]
	path = AD/impacket-shell-integrationmmmmmmmm
	url = https://github.com/dadevel/impacket-shell-integration
[submodule "WEb/OWASP-Web-Checklist"]
	path = WEb/OWASP-Web-Checklist
	url = https://github.com/tfmarques23/OWASP-Web-Checklist
[submodule "WEb/IPRotate_Burp_Extension"]
	path = WEb/IPRotate_Burp_Extension
	url = https://github.com/RhinoSecurityLabs/IPRotate_Burp_Extension
[submodule "WEb/PayloadsAllTheThings"]
	path = WEb/PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings
[submodule "WEb/evilginx2"]
	path = WEb/evilginx2
	url = https://github.com/kgretzky/evilginx2
[submodule "WEb/EmailSecCheck"]
	path = WEb/EmailSecCheck
	url = https://github.com/MarkoH17/EmailSecCheck
[submodule "WEb/SSRFire"]
	path = WEb/SSRFire
	url = https://github.com/ksharinarayanan/SSRFire
[submodule "WEb/commix"]
	path = WEb/commix
	url = https://github.com/commixproject/commix
[submodule "WEb/Scrapling"]
	path = WEb/Scrapling
	url = https://github.com/D4Vinci/Scrapling
[submodule "Enum/nmapAutomator"]
	path = Enum/nmapAutomator
	url = https://github.com/21y4d/nmapAutomator
[submodule "Enum/SecLists"]
	path = Enum/SecLists
	url = https://github.com/danielmiessler/SecLists
[submodule "Enum/htrace.sh"]
	path = Enum/htrace.sh
	url = https://github.com/trimstray/htrace.sh
[submodule "OSCP/OSCP-Stuff"]
	path = OSCP/OSCP-Stuff
	url = https://github.com/tjnull/OSCP-Stuff
[submodule "INFOs/BlackDragon"]
	path = INFOs/BlackDragon
	url = https://github.com/sniper199/BlackDragon
[submodule "INFOs/Linux-Privilege-Escalation"]
	path = INFOs/Linux-Privilege-Escalation
	url = https://github.com/Ignitetechnologies/Linux-Privilege-Escalation
[submodule "INFOs/Priv2Admin"]
	path = INFOs/Priv2Admin
	url = https://github.com/gtworek/Priv2Admin
[submodule "INFOs/awesome-pentest"]
	path = INFOs/awesome-pentest
	url = https://github.com/enaqx/awesome-pentest
[submodule "INFOs/LOLBAS"]
	path = INFOs/LOLBAS
	url = https://github.com/LOLBAS-Project/LOLBAS
[submodule "INFOs/RedTeam-Toolsmmmmmmmmmmmmmmmmmm"]
	path = INFOs/RedTeam-Toolsmmmmmmmmmmmmmmmmmm
	url = https://github.com/A-poc/RedTeam-Tools
[submodule "Powershell/nishang"]
	path = Powershell/nishang
	url = https://github.com/samratashok/nishang
[submodule "Powershell/PowerShell-Scripts"]
	path = Powershell/PowerShell-Scripts
	url = https://github.com/lazywinadmin/PowerShell
[submodule "Powershell/WinPwn"]
	path = Powershell/WinPwn
	url = https://github.com/S3cur3Th1sSh1t/WinPwn
[submodule "Powershell/Pentest-Tools"]
	path = Powershell/Pentest-Tools
	url = https://github.com/S3cur3Th1sSh1t/Pentest-Tools
[submodule "Powershell/CVE-2020-1350_HoneyPoC"]
	path = Powershell/CVE-2020-1350_HoneyPoC
	url = https://github.com/ZephrFish/CVE-2020-1350_HoneyPoC
[submodule "Powershell/MSOLSpray"]
	path = Powershell/MSOLSpray
	url = https://github.com/dafthack/MSOLSpray
[submodule "Powershell/Go365"]
	path = Powershell/Go365
	url = https://github.com/optiv/Go365
[submodule "Powershell/routersploit"]
	path = Powershell/routersploit
	url = https://github.com/threat9/routersploit
[submodule "Powershell/Pandoras-Box"]
	path = Powershell/Pandoras-Box
	url = https://github.com/paranoidninja/Pandoras-Box
[submodule "Powershell/HackTools"]
	path = Powershell/HackTools
	url = https://github.com/LasCC/HackTools
[submodule "Powershell/Viper"]
	path = Powershell/Viper
	url = https://github.com/FunnyWolf/Viper
[submodule "Powershell/linWinPwn"]
	path = Powershell/linWinPwn
	url = https://github.com/lefayjey/linWinPwn
